
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module temperature_CO2_plotter</title>
<meta charset="utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>temperature_CO2_plotter</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:///S:/filefolder_128gb/programming/python/xperiaconbckqpy3scripts3/git/inf3331-jajaabae/assignment6/temperature_co2_plotter.py">s:\filefolder_128gb\programming\python\xperiaconbckqpy3scripts3\git\inf3331-jajaabae\assignment6\temperature_co2_plotter.py</a></font></td></tr></table>
    <p></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#aa55cc">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Modules</strong></big></font></td></tr>
    
<tr><td bgcolor="#aa55cc"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><table width="100%" summary="list"><tr><td width="25%" valign=top><a href="numpy.html">numpy</a><br>
</td><td width="25%" valign=top><a href="os.html">os</a><br>
</td><td width="25%" valign=top><a href="matplotlib.pyplot.html">matplotlib.pyplot</a><br>
</td><td width="25%" valign=top><a href="sys.html">sys</a><br>
</td></tr></table></td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#eeaa77">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Functions</strong></big></font></td></tr>
    
<tr><td bgcolor="#eeaa77"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl><dt><a name="-plot_CO2"><strong>plot_CO2</strong></a>(x_min<font color="#909090">=None</font>, y_min<font color="#909090">=None</font>, x_max<font color="#909090">=None</font>, y_max<font color="#909090">=None</font>)</dt><dd><tt>Plotting&nbsp;CO2&nbsp;data</tt></dd></dl>
 <dl><dt><a name="-plot_co2_per_country"><strong>plot_co2_per_country</strong></a>(min_polution<font color="#909090">=None</font>, max_polution<font color="#909090">=None</font>, set_not_listed_to_value_X<font color="#909090">=None</font>)</dt><dd><tt>Plotting&nbsp;CO2&nbsp;per&nbsp;cuntry&nbsp;(Using&nbsp;last&nbsp;recorded&nbsp;data&nbsp;available)</tt></dd></dl>
 <dl><dt><a name="-plot_temperature"><strong>plot_temperature</strong></a>(data_rep_type, x_min<font color="#909090">=None</font>, y_min<font color="#909090">=None</font>, x_max<font color="#909090">=None</font>, y_max<font color="#909090">=None</font>, month_name<font color="#909090">=None</font>)</dt><dd><tt>Plotting&nbsp;temperatures&nbsp;in&nbsp;various&nbsp;different&nbsp;ways,&nbsp;determined&nbsp;by&nbsp;"data_rep_type".<br>
"data_rep_type"&nbsp;can&nbsp;be:&nbsp;'temperature_for_12_months',&nbsp;'temperature_for_one_month',&nbsp;'temperature_sumByYear'&nbsp;or&nbsp;'getData_temperature_monthly'<br>
"month_name"&nbsp;is&nbsp;required&nbsp;with&nbsp;"data_rep_type='temperature_for_one_month'",&nbsp;only.</tt></dd></dl>
 <dl><dt><a name="-test"><strong>test</strong></a>()</dt><dd><tt>a&nbsp;test&nbsp;function&nbsp;used&nbsp;to&nbsp;test&nbsp;the&nbsp;plotting&nbsp;functions&nbsp;under&nbsp;development</tt></dd></dl>
</td></tr></table>
</body></html>